configuration {
  display-drun: "Apps:";
  drun-display-format: "{icon} {name}";
  modi: "window,run,drun";
  show-icons: true;
}

window{
  width: 1920px;
}

//@theme "/usr/local/share/rofi/cat.rasi" 

@theme "/home/zeonyph/.local/share/rofi/themes/cat.rasi"
