@import ".cache/wal/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
}

#window {
    background-color: @color0;
}

#outer-box {
    border-radius: 9px;
    background-color: none;
}

#input {
    color: @color15;
    background-color: @color0;
    font-weight: 300;
    font-style: italic;
}

#inner-box {
    background-color: @background;
}

#entry {
    color: @foreground;
    padding: 5px 0 5px 5px;
}

#entry:selected {
    color: @color0;
    font-weight: bolder;
    font-style: italic;
    background-color: @color1;
}